.circle {
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: border-radius 2s ease-in-out, background-color 2s ease-in-out;
}

.circle:hover {
    border-radius: 0;
    background-color: orange;
} 