nav {
    margin: 45vh auto;
    text-align: center;
}

a {
    text-decoration: none;
    padding: 0.5em 1em;
    outline: 5px solid darkblue;
    color: darkblue;
    font-weight: bold;
    transition: outline-width 0.3s ease-in;
}

a:nth-child(1) {
    margin-right: 1em;
}

a:hover {
    outline-width: 10px;
}