body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 70px);
    grid-gap: 20px;
}

div {
    background-color: #000;
    color: #fff;
    padding: 25px;
}

.full-width {
    grid-column: span 3;
}

.main-content {
    grid-column: span 2;
}