@media (min-width: 600px) {

    html {
        box-sizing: border-box;
    }

    * {
        box-sizing: inherit;
    }

    body {
        margin: 0;
    }

    header nav {
        padding-top: 2rem;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header nav img {
        display: block;
        width: 100%;
        padding: 0 ;
        margin-bottom: 4rem;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 0;
        padding: 0;
        flex: 0 0 100%;
    }

    header nav ul li {
        font-size: 3rem;
    }

    header nav p {
        margin: 0;
        font-size: 3rem;
        padding: 1rem;
        background-color: rgb(75, 190, 209);
        width: 100%;
        color: rgb(255, 255, 255);
        text-align: center;
    }

    header section {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    header section button {
        font-size: 2rem;
        padding: 1.5rem 2rem;
    }

    header section h1,
    header section h2 {
        margin: 0;
    }
}