.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}

.footer {
    grid-area: footer;
}

body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 70px);
    grid-template-areas: 
        " header header header "
        " main main sidebar "
        " footer footer footer "; 
    grid-gap: 20px;
}

div {
    background-color: #000;
    color: #fff;
    padding: 25px;
}

